<div class="bg-black-alpha-50 p-2 flex justify-content-center w-full">
  <button type="button" class="p-button-text router-link" routerLink="/logs-and-monitoring" routerLinkActive="link-active">
    <i class="fa-solid fa-screwdriver-wrench fa-3x"></i>
  </button>

  <button type="button" class="p-button-text router-link" routerLink="/home" routerLinkActive="link-active">
    <i class="fa-solid fa-house fa-3x" routerLinkActive=""></i>
  </button>

  <button type="button" class="p-button-text router-link" routerLink="/auto-watering" routerLinkActive="link-active">
    <i class="fa-regular fa-calendar-days fa-3x"></i>
  </button>
</div>
